[submodule "deps/vk-bootstrap"]
	path = deps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "deps/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk.git
[submodule "deps/VulkanMemoryAllocator"]
	path = deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "deps/slang"]
	path = deps/slang
	url = https://github.com/shader-slang/slang.git
